// @filename: shape.tt
export variant Shape { Circle(r: number), Point }
// @filename: a.tt
import { Shape } from ".\\shape.tt";
declare const s: Shape;
export const n = match (s) { Circle(r) => r };
