// @run: aLineCommentAtTheEndOfAMatchKeepsTheStatementEnd.tt
variant S { A(n: number), B }
const s: S = S.A(3) as S;
function f() {
  // @ts-ignore
  const m = match (s) { A(n) => n, B => 4 // c
  };
  return m;
}
function g() {
  // @ts-ignore
  const k = match (s // c
  ) { A(n) => n + 1, B => 4 };
  return k;
}
console.log(f(), g());
