// @diagnostics: *
// @hover: later
declare const o: number;
declare function f(x: number): number;
export const r = match (o) { _ => f(1 };
export const later = "정상";
const wrong: number = "wrong";
/*later*/later;
