// @diagnostics: *
// @hover: later
// @completions: member
// @definition: later
enum E { return = 1, const = 2, let = 3, var = 4, throw = 5, export = 6, else = 7 }
declare const flag: boolean;
const broken = ;
export const good = match (flag) { true => E.return, false => E.else };
const wrong: number = "wrong";
const later = "정상";
later./*member*/toUpperCase();
/*later*/later;
