// @diagnostics: *
// @hover: later
// @definition: later
declare function f(a: number, b: number): number;
export const r = 1 |> f(2;
export const later = "정상";
const wrong: number = "wrong";
/*later*/later;
