// @diagnostics: *
// @hover: later
// @definition: later
declare function h(x: number): { value: number } | { error: string };
export function g() {
  const x = try h(1;
  return { value: x };
}
const later = "정상";
const wrong: number = "wrong";
/*later*/later;
